body{    
    font-family: Quicksand;
    line-height: 1.5;
}

@font-face {
    font-family: 'Quicksand';
    src: local('Quicksand'), url(./Fonts/Quicksand-VariableFont_wght.ttf) format("opentype");
    font-weight: normal;
}

h1 {color: rgb(61, 90, 204); text-align: left;}
h2 {color: rgb(61, 90, 204); text-align: left;}
h3 {color: rgb(61, 90, 204); text-align: left;}
h4 {color: rgb(61, 90, 204); text-align: left;}
h5 {color: rgb(61, 90, 204); text-align: left;}
h6 {color: rgb(61, 90, 204); text-align: left;}

p{
    font-size: medium;
    color: black;
}

a{
    color:rgb(98, 195, 255);
}

a:hover {
    color:rgb(14, 108, 196);
}

