.Bar{
    display: flex;
    justify-content: space-between;
    background: rgb(74, 131, 255);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    font-size: 150%;
    height: 10%;
}

/* Left Bar */

.BarLeft{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: rgb(98, 195, 255);
    margin-left: 1.5%;
    white-space: nowrap;
}

.Pagelink {
    margin-left: 1.5%;
    padding-right: 1.5%;
    border-right: 0.1em solid rgb(98, 195, 255);
}

.Pagelink:hover {
    color:rgb(14, 108, 196) !important;
}

/* Right Bar */

.BarRight{
    display: inline-flex;
    text-align: right;
    margin-right: 0.69%;
    justify-content: space-evenly;
}

.BarLink {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 0.3em;
}

a:link {
    color: rgb(98, 195, 255);
    text-decoration: none;
}

a:visited {
    color:rgb(98, 195, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(14, 108, 196);
    text-decoration: none;
}

/* Bottom Bar */

/* .BottomBar {
    width: 100%;
    text-align: center;
    background: rgb(74, 131, 255);
    color: rgb(98, 195, 255);
    height: 5%;
    bottom: 0;
} */

/*******************PAGES******************/

.Homepage {
    margin: auto;
    margin-top: 6%;
    width: 70%;
}

.Projectpage {
    margin: auto;
    margin-top: 6%;
    width: 70%;
}

.Problempage {
    margin: auto;
    margin-top: 6%;
    width: 70%;
}
